<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dnbstoks.zabbixsender.sender" >

	<uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Firsttry" >
        <activity
            android:name="com.dnbstoks.zabbixsender.sender.SenderMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dnbstoks.zabbixsender.sender.AboutSender"
            android:label="@string/title_activity_about_sender" >
        </activity>
        <activity
            android:name="com.dnbstoks.zabbixsender.sender.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
